#ant specific
Japanese-Teacher/dist/
Japanese-Teacher/build/
 
#netbeans specific
Japanese-Teacher/core
Japanese-Teacher/nbproject/*
!Japanese-Teacher/nbproject/project.properties
!Japanese-Teacher/nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
